body {
    font-family: sans-serif;
    /background-color: lightgrey;
    margin-top: 75px;
    text-align:center;
    background-color: antiquewhite;

        
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

  .content{
              font-family: cursive;
    padding-top: 30px;
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
        }
        h3.heading {
    text-decoration: underline;
}